*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --roxo: purple
}

body{
    background: rgb(14, 14, 14);
    color: rgb(256, 256, 256);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--roxo);
    font-family: "Arial Black";
    font-size: 40px;
    margin-left: 8px;
    transition: 0.5s ease all;
    cursor: pointer;
}

header .logo:hover{
    color: rgb(256, 256, 256);
}

header nav a{
    text-decoration: none;
    color: rgb(194, 189, 189);
    font-size: 20px;
    margin-right: 10px;
}

header nav a:hover{
    color: var(--roxo);
}

/**/ 

.principal-anime{
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("/img/a.jpg");
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}

.principal-anime .sinopse{
    margin-top: 1%;
    margin-bottom: 30px;
}

.principal-anime .title{
    margin-top: 10%;
    font-size: 50px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}



.botao{
    background-color: rgba(153,51,153,.35);
    border: none;
    color: white;
    padding: 20px 30px;
    margin-right: 15px;
    cursor: pointer;
    transition: 1s ease all;

}

.botao:hover{
    background-color: white;
    color: var(--roxo);
}

.container{
    margin-left: 10px;
    margin-bottom: 20px;
}

.anime-box{
    height: 400px;
    width: 100%;
}

.item img{ 
    -webkit-transition: -webkit-transform .5s ease;
     transform: translateZ(0) scale(1.0, 1.0);  
    transition: transform .5s ease;
 }
 
 .anime-box:hover {
   -webkit-transform: scale(1.1);
    transform: scale(1.1);

 }



